// Since we pass this in an object, these fields automatically
// are populated with that object's properties if the symbol
// matches the database column.
- if session[:needs_info]
  %div.span-24.last
    Your profile is incomplete! Please fill out this information to continue signup.
- if session[:is_registering]
  %h2.dink
    = @current_game.short_name + " Registration (Step 1 of 3)"
%div.span-4.clear
  &nbsp;
%div.span-16
  %table
    %tbody
      = form_for(@toedit) do |f|
        %tr
          %td 
            %b Name: 
          %td= f.text_field :name
        %tr
          %td 
            %b CaseID:
          %td= @toedit.caseid
        %tr
          %td 
            %b Phone Number (for SMS)*:
          %td= f.text_field :phone
        -if @is_admin
          %tr
            %td.admin
              %b Is Admin?
            %td=f.check_box :is_admin
        %tr
          %td{:colspan=>2}
            = f.submit
  *SMS notifications for Spring 2011 will be sent out only for important game state changes. For example, you will 
  receive a text when you turn into a Zombie, and when you are Deceased. To opt out of receiving these messages, please
  simply do not put your number in this form.
