- unless (@logged_in_person.nil? or @logged_in_person.name.nil?)
  %b{:title=>"Edit Info"}
    = link_to @logged_in_person.name + " (" + @logged_in_person.caseid + ")", edit_person_url(@logged_in_person)
  - if(not @current_game.nil? and @current_game.ongoing?)
    %br
    - r =  Registration.find_by_person_id(@logged_in_person.id)
    %b{:title=>"View Player Profile"}
      - if r.is_human?
        = link_to "Human [" + r.score.to_s + "]", registration_url(r)
      - elsif r.is_zombie?
        = link_to "Zombie [" + r.score.to_s + "]", registration_url(r)
      - else
        = link_to "Deceased [" + r.score.to_s + "]", registration_url(r)
- else
  %b Profile Incomplete! 
  = "(" + @logged_in_person.caseid + ")"
  = link_to "Update Profile", edit_person_url(@logged_in_person)
%br
=link_to "Logout", people_logout_url()
