%li.dropdown
  = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
    = person.name
    %b.caret
  %ul.dropdown-menu
    %li= link_to 'Edit Info', edit_person_path(person)
    - if person.is_playing_current_game?
      - r = person.current_game_registration
      - if r.is_off_campus
        %li= link_to 'Off-Campus Check In', check_in_path
    %li= link_to "Logout", people_logout_url()
