= stylesheet_link_tag "Testing"
%div.game
  %h2.dink=@game.short_name + " (" + @game.dates[:date_range] + ")"
  %div.span-4
    %table.players
      %thead
        %th{:colspan=>2}
          Players:
      - cache({:action=>"show", :action_suffix=>"gamestats", :id=>@game}, :expires_in => 1.minute) do
        = render :partial => "gamestats"
  %div.span-14
    - cache({:action=>"show", :action_suffix=>"gamegraph", :id=>@game}, :expires_in => 5.minutes) do
      = render :partial => "gamegraph"
  %div.span-4.last
    %table.ozs
      %thead
        %th{:colspan=>2}
          %b Original Zombies:
      %tbody
        - @ozs.each do |z|
          %tr
            %td 
              - if @game.ozs_revealed? or (not @logged_in_person.nil? and z.person.id == @logged_in_person.id)
                %b= z.person.name
              - else
                %b ??????
            %td=z.score
  %div.span-2.clear
    &nbsp;
  %div.span-23
    - cache({:action => "show", :action_suffix=>"scoreboard", :id=>@game}, :expires_in => 5.minutes) do
      - number = 1
      - @players.each do |p|
        = render(:partial => "scoreboard", :locals => {:player => p, :number => (number)})
        - number += 1
      :javascript
        $(function() {
          $("#scoreboardTime").countdown({since: new Date(#{(Time.now.utc-1.month+@current_game.utc_offset).strftime("%Y, %m, %d, %H, %M, %S")}), compact:true, format: 'MS'})
        });
      .outOfDate
        #scoreboardInfo
          This page is
        #scoreboardTime
        #scoreboardInfo
          out of date.
  %div.span-2.last
    &nbsp;

