= stylesheet_link_tag "Testing"
%div.game
  %h2.dink=@game.short_name + " (" + @game.dates[:date_range] + ")"
  %div.span-5
    %table.players
      %thead
        %th{:colspan=>2}
          Players:
      %tbody
        %tr
          %td
            %b Human:
          %td
            = @players.map{|x| x if x.faction_id == 0}.compact.length
        %tr
          %td
            %b Zombie:
          %td
            = @players.map{|x| x if x.faction_id == 1}.compact.length
        %tr
          %td
            %b Deceased:
          %td
            = @players.map{|x| x if x.faction_id == 2}.compact.length
        %tr
          %td
            %b Total:
          %td
            = @players.length
  %div.span-14
    - cache(:action=>"show", :action_suffix=>"gamestats") do
      = render :partial => "gamestats"
  %div.span-5.last
    %table.ozs
      %thead
        %th{:colspan=>2}
          %b Original Zombies:
      %tbody
        %tr
          %td 
            %b Eric Laakman
          %td 2212
        %tr
          %td 
            %b Tom Dooner
          %td 1234
        %tr
          %td 
            %b Owen Bell
          %td 1192
  %div.span-2.clear
    &nbsp;
  %div.span-20
    - cache(:action => "show", :action_suffix=>"scoreboard") do
      - number = 1
      - @players.each do |p|
        = render :partial => "scoreboard", :locals => {:player => p, :number => (number)}
        - number += 1
  %div.span-2.last
    &nbsp;

