= stylesheet_link_tag "compiled/scoreboard"
= javascript_include_tag "scoreboard"
= javascript_include_tag "highcharts"
%div#game
  %h2.dink=@game.short_name + " (" + @game.dates[:date_range] + ")"
  %div#game_header
    %div#statistics
      %table
        %thead
          %th{:colspan=>2}
            Players:
          -#- cache({:action=>"show", :action_suffix=>"gamestats", :id=>@game}, :expires_in => 1.minute) do
          = render :partial => "gamestats"
    %div#graph
      = render :partial => "gamegraph"
    %div#tags
      %table
        %thead
          %th{:colspan=>2}
            %b Original Zombies:
        -# TODO: Make this into its own partial.
        %tbody
          - @ozs.each do |z|
            %tr 
              - if @game.ozs_revealed? or (not @logged_in_person.nil? and z.person.id == @logged_in_person.id)
                %td{:class=>("admin nocenter" if z.person.is_admin)}
                  %b= z.person.name
              - else
                %td
                  %b ??????
              %td=z.score
      -#=link_to("Zombie Tag Tree", game_tree_url(@game))
  %div#view_links
    %ul
      %li 
        %a.selected{:href=>"#"} Players &amp; Squads
      %li 
        %a{:href=>"#"} Achievements
      %li 
        %a{:href=>"#"} Zombie Tag Tree
      %li 
        %a{:href=>"#"} Tag Heatmap
  %div#game_content
    Loading...
  %div.span-2.last
    &nbsp;

