- content_for :javascripts do
  = javascript_include_tag "backbone/models/player"
  = javascript_include_tag "backbone/collections/playerList"
  = javascript_include_tag "backbone/views/attendingPlayers"
  = javascript_include_tag "backbone/views/playerAutocomplete"
  
  :javascript
    $(function() {
      var players = #{render 'shared/player_list', game: @game, mission: @mission},
          attendingPlayers = new HvZ.AttendingPlayers({
            players: players,
            missionId: #{@mission.id},
          });
    });
:css
  #playerList > .autocomplete-container {
    margin: auto;
  }
%h2.dink Add New Attendee:
#playerList
%script{type: "text/template", id: "playersTemplate"}
  Humans:
  %b <%= humans.length %>
  | Zombies:
  %b <%= zombies.length %>
  | Deceased:
  %b <%= deceased.length %>
  %br
  %br
  %ol
    <% _.each(players, function(p) { %>
    %li <%= p.get('name') %> [ <a href='#' class='player-attendance' data-attendance=<%= p.get('attendance') %>>x</a> ]
    <% }); %>


%h2.dink Current Mission Attendees:
#attendingPlayers
