!!!
%html
  %head
    %title HvZ
    = csrf_meta_tag
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=IM+Fell+English+SC'
    = stylesheet_link_tag 'scoreboard'
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28082792-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    %nav.navbar.navbar-default{ role: 'navigation' }
      .container
        .navbar-header.dink
          = link_to 'Case HvZ', root_url, class: 'navbar-brand'

        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              - if not @current_game.id.nil?
                - if @current_game.ongoing? || @current_game.has_ended?
                  = link_to 'Scoreboard', game_url(@current_game) unless @current_game.nil?
                - else
                  = link_to 'Registration', new_registration_url
            %li= link_to "Missions", missions_url
            %li= link_to "Report A Tag", new_tag_url unless @current_game.nil?
            - if @current_game.rules.present?
              %li= link_to "Rules", rules_game_url(@current_game)
            %li= link_to "Contact Admins", new_contact_message_url
            - if @logged_in_person
              = render 'index/userloggedin', person: @logged_in_person
            - else
              %li= link_to 'Log In', people_login_url
            - if @is_admin
              %li.dropdown
                = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
                  HvZ Core
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to 'Manage Games', games_url
                  %li= link_to 'Manage Players', registrations_url
                  %li= link_to 'Manage Missions', list_missions_url
                  %li= link_to 'View Messages', list_contact_messages_url
                  / %li Game Tools
    .container
      .content
        - unless flash[:message].nil?
          .info=flash[:message]
        - unless flash[:error].nil?
          .error=flash[:error]
        = yield
      .footer.span-24.last
        Case Western's Humans vs. Zombies is organized by the Big Games Club. Comments can be left using the
        = link_to("contact page", new_contact_message_url()) + "."
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js'
    = javascript_include_tag 'application'
    = yield :javascripts
