!!!
%html
  %head
    %title HvZ
    = stylesheet_link_tag :all
    = csrf_meta_tag
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.11.custom.css'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=IM+Fell+English+SC'
    = stylesheet_link_tag 'scoreboard'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28082792-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    %div.blueprint
      %div.container
        %div.heading
          %h1 Case Humans vs. Zombies
          %div.headinfo.last
            %div.span-5
              %b New!
              Discuss this game on the
              =link_to "Case HvZ Forum!", "http://forum.casehvz.com"
            %div.span-6.countdowncontainer
              - unless @current_game.game_begins.nil?
                = render :partial => "index/countdown"
            %div.span-6.last
              - if @logged_in_person.present?
                = render :partial => "index/userloggedin"
              - else
                = link_to "Login", people_login_url
          %div.navigation
            %div.span-4= link_to "Home", root_url()
            %div.span-4
              - if not @current_game.id.nil?
                - if @current_game.ongoing? || @current_game.has_ended?
                  = link_to("Scoreboard", game_url(@current_game)) unless @current_game.nil?
                - else
                  = link_to("Registration", new_registration_url())
            %div.span-4
              = link_to "Missions", missions_url()
            %div.span-4
              = link_to "Report A Tag", new_tag_url() unless @current_game.nil?
            - unless @current_game.id.nil?
              %div.span-4 
                = link_to "Rules", rules_game_url(@current_game)
            %div.span-4.last
              = link_to("Contact Admins", new_contact_message_url())
          = render :partial => "index/adminnavigation" if @is_admin
        %div.content
          - unless flash[:message].nil?
            %div.info=flash[:message]
          - unless flash[:error].nil?
            %div.error=flash[:error]
          = yield
        %div.footer.span-24.last
          Case Western's Humans vs. Zombies is organized by the Big Games Club. Comments can be left using the
          = link_to("contact page", new_contact_message_url()) + "."
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery.countdown.min'
    = javascript_include_tag 'jquery-ui-1.8.11.custom.min.js'
    = javascript_include_tag "autocomplete-rails.js"
    = javascript_include_tag "jit.js"
    = yield :javascripts
